<div class="hdr">

<h1>Here's your player! </h1> 

<div id="options">
 <a href="/" class="simple-link">Go back</a>
 <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
 <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
 </div>
 
</div> 
 
 
 
<h3>Entry #<%= params[:id] %></h3>  
<div class="card">
 <!--<input type="checkbox" name=""/>-->
 <h2><%= @todo.description %></h2>
 <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo.pomodoro_estimate %> Goals</span>

</div>
